<header class="level">
  <div class="level-left">
    {{link-to 'Home' 'index' classNames="level-item"}}
  </div>

  <div class="level-right">
    {{link-to 'Classes' 'live-classes' classNames="level-item"}}
  </div>
</header>

{{outlet}}
