<header class="level">
  <div class="level-left">
    <LinkTo @route='index' class="level-item">
      Home
    </LinkTo>
  </div>

  <div class="level-right">
    <LinkTo @route='live-classes' class="level-item">
      Classes
    </LinkTo>
  </div>
</header>

{{outlet}}
