<section class="section about is-flex-tablet">
  <div class="logo-holder">
    <div class="logo" />
  </div>

  <MarkdownToHtml
    @markdown={{this.data.settings.welcomeMessage}}
    class="container welcome-message"
    @strikethrough={{true}}
    @literalMidWordUnderscores={{true}}
    @simplifiedAutoLink={{true}}
  />
</section>
